[core]
	editor = code --wait
	autocrlf = input
[merge]
	ff = false
[pull]
	ff = only
[user]
	name = ile-24556
	email = 110268848+ile-24556@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDsL/5J2oS/vFsL9ggTIRVz5IepSM++pf0E2exopxJX6
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[diff]
	wsErrorHighlight = all
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	program = "/mnt/c/Users/marun/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
{{-   else }}
	program = "/opt/1Password/op-ssh-sign"
{{-   end }}
{{-   else if eq .chezmoi.os "windows" }}
	program = "C:/Users/marun/AppData/Local/Microsoft/WindowsApps/op-ssh-sign.exe"
{{- end }}
