[core]
	editor = code --wait
	autocrlf = input
[merge]
	ff = false
[pull]
	ff = only
[user]
	name = ile-24556
	email = 110268848+ile-24556@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDsL/5J2oS/vFsL9ggTIRVz5IepSM++pf0E2exopxJX6
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = {{ .git.credential.github.helper }}
[credential "https://gist.github.com"]
	helper = {{ .git.credential.github.helper }}
[diff]
	wsErrorHighlight = all
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ .git.gpg.ssh.program | quote }}
