<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
  <description>Prepend my favorite fonts to generic font families</description>

  <!--
    Reject font families that I do not want to see.
  -->
  <selectfont>
    <rejectfont>
      <pattern>
        <patelt name="family">
          <string>Noto Sans</string>
        </patelt>
      </pattern>
      <pattern>
        <patelt name="family">
          <string>Liberation Sans</string>
        </patelt>
      </pattern>
      <pattern>
        <patelt name="family">
          <string>Nimbus Sans</string>
        </patelt>
      </pattern>
      <pattern>
        <patelt name="family">
          <string>Liberation Mono</string>
        </patelt>
      </pattern>
      <pattern>
        <patelt name="family">
          <string>Nimbus Mono</string>
        </patelt>
      </pattern>
    </rejectfont>
  </selectfont>

  <!-- VS Code -->
  <match>
    <test name="prgname">
      <string>code</string>
    </test>
    <test name="family">
      <string>sans-serif</string>
    </test>
    <edit name="family" mode="assign">
      <string>ui-sans-serif</string>
    </edit>
  </match>

  <!--
    Resolve generic font families into my custom families.
  -->
  <alias>
    <family>serif</family>
    <prefer>
      <family>my-serif</family>
    </prefer>
  </alias>
  <alias>
    <family>sans-serif</family>
    <prefer>
      <family>my-sans-serif</family>
    </prefer>
  </alias>
  <alias>
    <family>monospace</family>
    <prefer>
      <family>my-monospace</family>
    </prefer>
  </alias>
  <alias>
    <family>system-ui</family>
    <prefer>
      <family>my-sans-serif</family>
    </prefer>
  </alias>
  <alias>
    <family>ui-serif</family>
    <prefer>
      <family>my-serif</family>
    </prefer>
  </alias>
  <alias>
    <family>ui-sans-serif</family>
    <prefer>
      <family>my-ui-sans-serif</family>
    </prefer>
  </alias>
  <alias>
    <family>ui-monospace</family>
    <prefer>
      <family>my-monospace</family>
    </prefer>
  </alias>

  <!--
    Resolve custom font families into actual families.
  -->
  <alias binding="strong">
    <family>my-serif</family>
    <prefer>
      <family>{{.fonts.serif | join "</family>\n      <family>"}}</family>
      <family>my-emoji</family>
    </prefer>
  </alias>
  <alias binding="strong">
    <family>my-sans-serif</family>
    <prefer>
      <family>{{.fonts.sansSerif | join "</family>\n      <family>"}}</family>
    </prefer>
  </alias>
  <alias binding="strong">
    <family>my-monospace</family>
    <prefer>
      <family>{{.fonts.monospace | join "</family>\n      <family>"}}</family>
    </prefer>
  </alias>
  <alias binding="strong">
    <family>my-ui-sans-serif</family>
    <prefer>
      <family>{{.fonts.uiSansSerif | join "</family>\n      <family>"}}</family>
    </prefer>
  </alias>
</fontconfig>
