repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-illegal-windows-names
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: destroyed-symlinks
  - id: detect-aws-credentials
    args:
    - --allow-missing-credentials
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: forbid-new-submodules
  - id: forbid-submodules
  - id: mixed-line-ending
  - id: pretty-format-json
  - id: requirements-txt-fixer
  - id: trailing-whitespace
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.20.0
  hooks:
  - id: markdownlint-cli2

# fish shell is required
- repo: local
  hooks:
  - id: fish-indent
    name: indent fish scripts
    language: unsupported
    entry: fish_indent --write
    files: \.fish$
  - id: fish-syntax
    name: check fish syntax
    language: unsupported
    entry: fish --no-execute
    files: \.fish$
  - id: test-fish-function-mkdir-if-not-exists
    name: test fish function mkdir_if_not_exists
    language: unsupported
    entry: fish tests/test_mkdir_if_not_exists.fish
    files: fish/functions/[^/]+\.fish$
