// Affect UI font fallback
user_pref("font.cjk_pref_fallback_order", "ja,zh-cn,zh-hk,zh-tw,ko");

// monospace fonts
user_pref("font.name.monospace.ja", {{.fonts.monospace | join ", " | quote}});
user_pref("font.name.monospace.x-unicode", {{.fonts.monospace | join ", " | quote}});
user_pref("font.name.monospace.x-western", {{.fonts.monospace | join ", " | quote}});

// san-serif fonts
user_pref("font.name.sans-serif.ja", {{.fonts.sansSerif | join ", " | quote}});
user_pref("font.name.sans-serif.x-unicode", {{.fonts.sansSerif | join ", " | quote}});
user_pref("font.name.sans-serif.x-western", {{.fonts.sansSerif | join ", " | quote}});

// serif fonts
user_pref("font.name.serif.ja", {{.fonts.serif | join ", " | quote}});
user_pref("font.name.serif.x-unicode", {{.fonts.serif | join ", " | quote}});
user_pref("font.name.serif.x-western", {{.fonts.serif | join ", " | quote}});

// Enable chrome/user{Chrome,Content}.css
user_pref("toolkit.legacyUserProfileCustomizations.stylesheets", true);
