{{$githubCredentialHelper := "unknown" -}}
{{if .env.isWindows -}}
	{{$githubCredentialHelper = "!'C:\\\\Program Files\\\\GitHub CLI\\\\gh.exe' auth git-credential" -}}
{{else -}}
	{{$githubCredentialHelper = "!/usr/bin/gh auth git-credential" -}}
{{end -}}

{{$sshSigningProgram := "unknown" -}}
{{if .env.isWindows -}}
	{{$sshSigningProgram = "C:/Users/marun/AppData/Local/Microsoft/WindowsApps/op-ssh-sign.exe" -}}
{{else if .env.isNativeLinux -}}
	{{$sshSigningProgram = "/opt/1Password/op-ssh-sign" -}}
{{else if .env.isWSL -}}
	{{$sshSigningProgram = "/mnt/c/Users/marun/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe" -}}
{{end -}}

[core]
	editor = zed --wait
	autocrlf = input
[merge]
	ff = false
[pull]
	ff = only
[user]
	name = ile-24556
	email = 110268848+ile-24556@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDsL/5J2oS/vFsL9ggTIRVz5IepSM++pf0E2exopxJX6
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = {{$githubCredentialHelper}}
[credential "https://gist.github.com"]
	helper = {{$githubCredentialHelper}}
[diff]
	wsErrorHighlight = all
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{$sshSigningProgram | quote}}
[log]
	date = iso-strict-local
