{{if eq .chezmoi.os "windows" -}}
[cd]
command = "pwsh.exe"

{{end -}}

[interpreters.fish]
command = "/bin/fish"

[data.env]
# One of the following three should be true.
isNativeLinux = {{if and (eq .chezmoi.os "linux") (not (contains "-microsoft-standard-WSL2" .chezmoi.kernel.osrelease))}}true{{else}}false{{end}}
isWindows = {{if eq .chezmoi.os "windows"}}true{{else}}false{{end}}
isWSL = {{if and (eq .chezmoi.os "linux") (contains "-microsoft-standard-WSL2" .chezmoi.kernel.osrelease)}}true{{else}}false{{end}}

[data.fonts]
serif = [
  "Source Serif 4 Variable",
  "Noto Serif CJK JP",
  "Noto Emoji",
]
sansSerif = [
  "Inter Variable",
  "IBM Plex Sans JP",
  "Noto Emoji",
]
monospace = [
  "JetBrains Mono",
  "JetBrainsMono Nerd Font",
  "Inter Variable",
  "IBM Plex Sans JP",
  "Noto Emoji",
]
