{{if eq .chezmoi.os "windows" -}}
[cd]
command = "pwsh.exe"

{{end -}}

[interpreters.fish]
command = "fish"

[interpreters.py]
command = "uv"
args = ["run", "--"]

[data.env]
# One of the following three should be true.
isNativeLinux = {{if and (eq .chezmoi.os "linux") (not (contains "-microsoft-standard-WSL2" .chezmoi.kernel.osrelease))}}true{{else}}false{{end}}
isWindows = {{if eq .chezmoi.os "windows"}}true{{else}}false{{end}}
isWSL = {{if and (eq .chezmoi.os "linux") (contains "-microsoft-standard-WSL2" .chezmoi.kernel.osrelease)}}true{{else}}false{{end}}

[data.fonts]
serif = [
  "Source Serif 4 Variable",
  "Noto Serif CJK JP",
  "serif",
]
sansSerif = [
  {{if eq .chezmoi.os "windows"}}"Inter Variable Text"{{else}}"Inter Variable"{{end}},
  "IBM Plex Sans JP",
  "sans-serif",
]
uiSansSerif = [
  {{if eq .chezmoi.os "windows"}}"Inter Variable UI Text"{{else}}"Inter Variable UI"{{end}},
  "IBM Plex Sans JP",
  "sans-serif",
]
monospace = [
  "Berkeley Mono",
  {{if eq .chezmoi.os "windows"}}"Inter Variable Text"{{else}}"Inter Variable"{{end}},
  "IBM Plex Sans JP",
  "monospace",
]
terminal = [
  "Berkeley Mono",
  "JetBrainsMono Nerd Font",
  {{if eq .chezmoi.os "windows"}}"Inter Variable Text"{{else}}"Inter Variable"{{end}},
  "IBM Plex Sans JP",
  "monospace",
]
