{{if eq .chezmoi.os "windows" -}}
[cd]
command = "pwsh.exe"

{{end -}}

[data.env]
# One of the following three should be true.
isLinux = {{if and (eq .chezmoi.os "linux") (not (contains "-microsoft-standard-WSL2" .chezmoi.kernel.osrelease))}}true{{else}}false{{end}}
isWindows = {{if eq .chezmoi.os "windows"}}true{{else}}false{{end}}
isWSL = {{if and (eq .chezmoi.os "linux") (contains "-microsoft-standard-WSL2" .chezmoi.kernel.osrelease)}}true{{else}}false{{end}}
