name: pre-commit

on:
- push
- pull_request

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - uses: pre-commit/action@v3.0.1
    - uses: fish-shop/install-fish-shell@v2
