name: checks

on:
- push
- pull_request

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: 'pip'
    - run: pip install pre-commit
    - uses: fish-shop/install-fish-shell@v2
    - run: pre-commit run --all
